<h2>Bem vindo ao meu site!</h2>

{{#if isDisplayName}}
<p>My name is {{name}}</p>
{{else}}
O nome não é exibido
{{/if}}

{{#if isDisplayAge}}
<p>I'm {{age}}</p>
{{else}}
A idade não é exibida
{{/if}}

<br>

{{mais10 100}}

<br>
{{#compara 10 "==" 10}}
    <p>10 == 10</p>
{{else}}
    <p>10 != 10</p>
{{/compara}}

{{#compara 20 "!=" 10}}
    <p>20 != 10</p>
{{else}}
    <p>20 == 10</p>
{{/compara}}
<br>

{{#list people}}
{{/list}}