<h2 class="mb-4" align="center">Favoritos</h2>

<div id="burgerContainer">
    {{#each burgers}}
        <div class="card mt-2 mx-auto" style="width: 30rem" id="{{id}}">
        <div class="card-body">
            <h4>{{burger_name}}</h4>
            <br>    
            <button data-id="{{id}}" data-state="{{is_favorite}}" class="btn btn-primary favorite">
                {{#if is_favorite}}
                    Remover dos Favoritos
                {{else}}
                    Adicionar aos Favoritos
                {{/if}}
            </button>
        </div>
    </div>
    {{else}}
    {{/each}}
